:root {
    --grey-silver: #8B8B8B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    /* height: 700px; */
    text-align: center;
}

.home-container a {
    text-decoration: none;
    font-size: 3.6rem;
    font-style: normal;
    line-height: 49px;
    color: var(--grey-silver);
}

.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    /* height: 650px; */
    text-align: center;
}

.menu-container a {
    text-decoration: none;
    font-size: 2.4rem;
    font-style: normal;
    line-height: 49px;
    color: var(--grey-silver);
}

.menu-botton {
    /* position: absolute;
    width: 47px;
    height: 40px;
    right: 15px; */
    /* top: 640px; */
    position: fixed;
    bottom: 10px;
    right: 10px; 
}

.menu-botton a {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("./assets/icon/menu-back.svg");
    width: 47px;
    height: 40px;
}

.instruments-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 650px;
    align-items: center;
}

.instruments-container img {
    width: 238px;
    height: 159px;
    border-radius: 11px;
    margin: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-pages-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 30px;
    /* align-items: center; ESTE ES EL QUE HAY QUE ACTIVAR PARA DESKTOP*/
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.header-pages-container div {
    display: flex;
}

.header-pages-container img {
    scroll-snap-align: center;
    width: 180px;
    height: 120px;
    border-radius: 11px;
    margin: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--grey-silver);
    line-height: 33px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--grey-silver);
    line-height: 33px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h3 {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    padding-left: 10%;
    width: auto;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: var(--grey-silver);
}

.history-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 300px;
}

.history-container p {
    display: inline-block;
    text-align: justify;
    margin-bottom: 20px;
    height: auto;
    font-size: 1.4rem;
    font-weight: 100;
    font-style: normal;
    line-height: 19px;
    color: var(--grey-silver);
}

.audio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    min-width: 300px;
}

.audio-container audio {
    margin-bottom: 20px;
}

.header-container--about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.header-container--about img {
    /* width: 97px;
    height: 130px; */
    width: 50%;
    border-radius: 11px;
    margin: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-container--about h2 {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--grey-silver);
    line-height: 33px;
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
}

.header-container--about--name {
    display: none;
}

.icons-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    min-width: 300px;
}

.icons-container a {
    padding: 10px;
    font-size: 2.0rem;
    color: var(--grey-silver);
}